@use '@/styles/variables.scss' as *;

.card {
  background: $color-bg-card;
  border-radius: $radius-lg;
  box-shadow: $shadow-card;
  
  &.paddingSm {
    padding: $spacing-md;
  }
  
  &.paddingMd {
    padding: $spacing-lg;
  }
  
  &.paddingLg {
    padding: $spacing-xl;
  }
  
  &:active {
    opacity: 0.95;
  }
}
